[Unit]
Description=Autostart Flutter demo
Wants=weston.service
After=weston.service systemd-user-sessions.service

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5
EnvironmentFile=/etc/default/flutterphy
ExecStart=/usr/bin/flutter-client --bundle=/usr/share/flutter/flutter-samples-material-3-demo/3.24.4/release/

[Install]
WantedBy=multi-user.target
